# Git
.git
.gitignore
.gitattributes



# Node
node_modules

# Vendor
# Ignore top-level vendor but allow backend/vendor to be copied into the image context
/vendor
!backend/vendor

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
