.env
.env.*
DigiCertGlobalRootCA.crt.pem
test_mysql_connexion.php
AZURE_CONFIG_CHECKLIST.md
readme-correction-test.md
README.env.md
# Dossiers ignorés
fichiers_perso/
plugins/

# Fichiers ignorés
package-lock.json
.env
.env.compose
.env.test
.env.azure
docker-down.sh
docker-up.sh
# Fichiers de métadonnées Windows
*:Zone.Identifier

# Composer
backend/vendor/

# Caches d'outils
backend/.php-cs-fixer.cache
backend/.phpunit.result.cache

# Logs
backend/logs/*.log
!backend/logs/.gitkeep
