.env
.env.*
DigiCertGlobalRootCA.crt.pem
test_mysql_connexion.php
# Dossiers ignorés
fichiers_perso/
plugins/
images/
frontend/

# Fichiers ignorés
package-lock.json
.env
.env.compose
.env.test
.env.azure
docker-down.sh
docker-up.sh
# Fichiers de métadonnées Windows
*:Zone.Identifier

# Composer
backend/vendor/
