
/* =========================================
   Design Tokens
   ========================================= */

:root {
  /* Palette de couleurs (ex: tirées de Figma) */
  --color-primary: #FC7200;  /*rgb: 252, 114, 0 , Boutons CTA, logo*/ 
  --color-primary-600: #E65A00; /*rgb: 230, 90, 0 , État hover boutons CTA*/
  --color-secondary: #2C3E50; /*rgb: 44, 62, 80 , Barres de navigation, pieds de page, textes principaux*/

  --color-bg: #FFFFFF; /*Arrière-plan principal*/ 
  --color-bg-secondary: #ECF0F1; /*Arrière-plan secondaire, cartes*/

  --color-title-primary: #2C3E50; /*Titres principaux*/
  --color-title-secondary: #FFFFFF; /*Titres secondaires, sous-titres*/

  --color-text: #34495E;
  --color-text-secondary: #FFFFFF; /*textes sur fonds foncés(images), liens navigation*/
  --color-text-muted: #95A5A6; /*inputs, avis*/

  --color-success: #2ECC71;
  --color-warning: #F1C40F;
  --color-error: #E74C3C;
  --color-info: #3498DB;

  /* Typographie */
  --font-family: "Roboto", "Helvetica Neue", Helvetica, "Liberation Sans", "Segoe UI", sans-serif;
  /* https://fonts.googleapis.com <link rel="preconnect" href="https://fonts.gstatic.com" */

  /* Échelle de tailles (ex: 12–20) */
  --font-300: 16px;
  --font-400: 18px;
  --font-500: 20px;
  --font-600: 24px;
  --font-700: 28px;
  --font-800: 32px;
  --font-900: 36px;
  --font-xxl: 48px;

  /* Interlignage */
  --lh-tight: 1.25; /*h1, h2, h3*/
  --lh-normal: 1.5; /*body text for desktop*/
  --lh-relaxed: 1.7; /*body text for mobile*/

  /* Spacing (échelle 4/8) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px; /*primary spacing, hero spacing, header spacing*/
  --space-6: 32px; /*titres et sous-titres*/
  --space-7: 40px; /*entre filtres et menus*/
  --space-8: 48px;

  /* Radius & ombres */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --shadow-100: 0 1px 2px rgba(0,0,0,0.06);
  --shadow-200: 0 2px 8px rgba(0,0,0,0.10);
  --shadow-300: 0 6px 16px rgba(0,0,0,0.14);

  /* Largeurs max & container */
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;

  /* Breakpoints */
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;

  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
}

/* Thème sombre (optionnel) — basé sur préférence système 
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0F172A;
    --color-surface: #111827;
    --color-text: #E5E7EB;
    --color-text-muted: #9CA3AF;
    --color-border: #1F2937;
    --shadow-100: 0 1px 2px rgba(0,0,0,0.5);
    --shadow-200: 0 2px     --shadow-200: 0 2px 8px rgba(0,0,0,0.6);
  }
}
  */